    <nav class="navbar-bleu">
        <a href="/profil"><img class="imgnav" src="Profile blanc.png" alt="Icones du Profile" width="56px" height="56px"></a>
        <a href="/"><img class="imgnav" src="Home blanc.png" alt="Icones du Profile" width="58px" height="58px"></a>
        <a href="/resultat"><img class="imgnav" src="Stats blanc.png" alt="Icones du Profile" width="54px" height="54px"></a>
        <a href="/avis"><img class="imgnav" src="Com blanc.png" alt="Icones du Profile" width="62px" height="62px"></a>
        <a href="/connexion"><img class="imgnav" src="Déconnexion blanc.png" alt="Icones du Profile" width="52px" height="52px"></a>
    </nav>
