<app-navbar-etu></app-navbar-etu>
<section class="container" style="margin-top: 30px;">
    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
        <p style="font-size: 70px; text-align: center; margin-bottom: 50px;">Examens et tests</p>
        <br>
        <table class="custom-table" style="margin-left: 42px;">
            <tr *ngFor="let examen of examens">
                <td class="cell1">
                  <div class="cell-content">
                    <span>Examen n°{{ examen.id_examen }}</span>
                    <img [src]="examen.resultat === 'Réussi' ? 'Done_round.png' : 'Echec.png'" width="100" height="100" style="margin: 0 20px;">
                    <span>{{ examen.score_etudiant }}/20</span>
                    <span style="margin-left: 20px;">{{ examen.theme }}</span>
                    <span style="margin-left: 20px;">{{ examen.date_examen }}</span>
                    <span style="margin-left: 50px;">
                      <button class="button2" (click)="afficherDetails(examen)">v</button>
                    </span>
                  </div>
                </td>
              </tr>
            <tr>
                <td class="cell2">
                    <div class="cell-content">
                        <span>Test n°1</span>
                        <img src="Done_round.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                        <span>13/20</span>
                        <span style="margin-left: 20px;">Les feux de la route</span>
                        <span style="margin-left: 20px;">Les feux de la route</span>
                        <span style="margin-left: 50px;"><button class="button2">v</button></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="cell3">
                    <div class="cell-content">
                        <span>Test n°1</span>
                        <img src="Echec.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                        <span>13/20</span>
                        <span style="margin-left: 20px;">Les feux de la route</span>
                        <span style="margin-left: 20px;">Les feux de la route</span>
                        <span style="margin-left: 50px;"><button class="button2">v</button></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="cell1">
                    <div class="cell-content">
                        <span>Test n°1</span>
                        <img src="Done_round.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                        <span>13/20</span>
                        <span style="margin-left: 20px;">Les feux de la route</span>
                        <span style="margin-left: 20px;">Les feux de la route</span>
                        <span style="margin-left: 50px;"><button class="button2">v</button></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="cell2">
                    <div class="cell-content">
                        <span>Test n°1</span>
                        <img src="Done_round.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                        <span>13/20</span>
                        <span style="margin-left: 20px;">Les feux de la route</span>
                        <span style="margin-left: 20px;">Les feux de la route</span>
                        <span style="margin-left: 50px;"><button class="button2">v</button></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="cell3">
                    <div class="cell-content">
                        <span>Test n°1</span>
                        <img src="Echec.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                        <span>13/20</span>
                        <span style="margin-left: 20px;">Les feux de la route</span>
                        <span style="margin-left: 20px;">Les feux de la route</span>
                        <span style="margin-left: 50px;"><button class="button2">v</button></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <!-- Section avec les boutons -->
    <p style="font-size: 70px; text-align: center; margin-bottom: 30px; margin-left: 100px; margin-top: 50px;">Evolution de vos résultats</p>
    <div class="row" style="margin-bottom: 50px;">
        <div class="col-3"></div>
        <div class="col-8">
            <button class="button">Depuis toujours</button>
            <button class="button">Ce mois-ci</button>
            <button class="button">Cette semaine</button>
        </div>
        <div class="col-1"></div>
    </div>
</section>

