<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <app-navbar-admin></app-navbar-admin>
    <section class="container">
        <div class="profile">
            <img src="chat.png" alt="aaa" class="photopro">
            <div class="text-container">
                <p class="ti">Mamdou Sangare</p>
                <p class="tit">Autre texte en dessous</p>
            </div>
            <img src="Volant-or.png" alt="" class="volant">
            <img src="Easy2Drive-removebg-preview.png" alt="" class="Logo">
        </div>
        <h1 style="font-size: 50px; text-align: center; margin-bottom: 80px; margin-top: 80px;">Liste des tests et examens de 'saisir nom'</h1>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <button class="button">Ajouter un étudiant</button>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <button class="button">Modifier un étudiant</button>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <button class="button">Supprimer un étudiant</button>
            </div>
        </div>

        <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
            <br>
            <table class="custom-table" style="margin-left: 42px;">
                <tr>
                    <td class="cell1">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Done_round.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>                
                <tr>
                    <td class="cell2">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Done_round.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell3">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Echec.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell1">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Done_round.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>                
                <tr>
                    <td class="cell2">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Done_round.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell3">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Echec.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell1">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Done_round.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>                
                <tr>
                    <td class="cell2">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Done_round.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell3">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Echec.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell1">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Done_round.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>                
                <tr>
                    <td class="cell2">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Done_round.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell3">
                        <div class="cell-content">
                            <span>Test n°1</span>
                            <img src="Echec.png" alt="done" width="100px" height="100px" style="margin: 0 20px;">
                            <span>13/20</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 20px;">Les feux de la route</span>
                            <span style="margin-left: 50px;"><button class="button2">v</button></span>
                        </div>
                    </td>
                </tr>
            </table>           
        </div>
    </section>
</body>
</html>
