<body>
    <app-navbar-etu></app-navbar-etu>
    <section class="container">
        <div class="carre">
            <h1>Laissez nous votre avis sur Easy2Drive</h1>
            <div class="inline-elements">
                <button class="button">Evaluez</button>
                <h2>Vous avez déjà laissé votre avis</h2>
            </div>
            <div class="etoial">
                <p class="eval" style="margin-right: 60px;">Dernière evaluation : </p>
                <img src="Etoiles bleu.png" alt="etoile bleu" style="margin-top: 30px;">
                <img src="Etoiles bleu.png" alt="etoile bleu" style="margin-top: 30px;">
                <img src="Etoiles bleu.png" alt="etoile bleu" style="margin-top: 30px;">
                <img src="Etoiles bleu.png" alt="etoile bleu" style="margin-top: 30px;">
                <img src="Etoiles bleu.png" alt="etoile bleu" style="margin-top: 30px;">
            </div>
        
        <div class="actuelle">
            <p style="margin: 13px;">
                On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, 
                et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 
                'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout 
                cas comparable avec celle du français standard... On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, 
                et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 
                'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout 
                cas comparable avec celle du français standard...
            </p>
        </div>
        </div>
        
        <section class="container">
            <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                <p style="font-size: 75px; color: white; text-align: center; margin-top: 10px; margin-bottom: 50px;">
                    Tous les commentaires d'Easy2Drive
                </p>
                <br>
                <table class="custom-table">
                    <tr *ngFor="let avisItem of avis">
                        <td class="large-cell">
                            <div class="commentaire">
                                <div class="top-section">
                                    <div class="stars-user">
                                        <span class="stars">
                                            <img *ngFor="let star of getStars(avisItem.note)" 
                                                 src="Etoiles bleu.png" alt="etoile bleu">
                                        </span>
                                        <p class="username">Par {{ avisItem.nom_etudiant || 'Anonyme' }}</p>
                                    </div>
                                    <p class="time">{{ avisItem.date_depot }}</p>
                                </div>
                                <div class="content">
                                    <p>{{ avisItem.contenu }}</p>
                                </div>
                                <div class="interaction">
                                    <span>
                                        <img src="Like rouge.png" alt="Like rouge" height="48px" style="margin-right: 10px;">
                                        <img src="Partager.png" alt="Partager" height="44px" style="margin-right: 10px;">
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>           
            </div>
        </section>
    </section>
</body>
