<html>
 <head>
  <title>
   Se connecter - Easy2Drive
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
 </head>
 <body>
  <div class="container">
   <div class="header">
    <div class="icons">
     <button>
      <i class="fas fa-home">
      </i>
     </button>
     <button>
      <i class="fas fa-cog">
      </i>
     </button>
    </div>
    <div class="logo">
     Easy
     <span>
      2
     </span>
     Drive
    </div>
   </div>
   <div class="title-container">
    <h1>
     Se connecter
    </h1>
   </div>
   <div class="main">
    <div class="form-container">
     <form>
      <input placeholder="Identifiant" type="text"/>
      <input placeholder="Mot de passe" type="password"/>
      <button type="submit">
       Se connecter
      </button>
     </form>
     <div class="forgot-password">
      <a href="#">
       Mot de passe oublié ?
      </a>
     </div>
     <button class="signup-button">
      S'inscrire
     </button>
    </div>
    <div class="divider">
    </div>
    <div class="image-container">
     <img alt="Illustration of two people in a car with a cityscape background" height="300" src="https://storage.googleapis.com/a1aa/image/CH_aZVHgF1eswNUzS4LNOQPXtDjUfa9wY494qpNS8iU.jpg" width="400"/>
    </div>
   </div>
  </div>
 </body>
</html>
